@model IEnumerable<ToDoItem>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Add Item";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body class="main">
    <form style="margin-right:150px;" method="post" asp-action="addItem" asp-route-listId="@ViewBag.listId">
        <div style="margin-bottom:20px;">
            <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
            <label for="dependencyName">Select list (select one):</label>
            <select name="dependencyName" for="dependencyName" class="form-control" id="sel1">
                <option> No </option>
                @foreach (var item in Model)
                {
                    <option> @item.itemName </option>

                }
            </select>
        </div>
        <div style="margin-bottom:20px;">
            <label name="itemName" for="itemName" class="control-label col-md-4  requiredField"> Item name<span class="asteriskField">*</span> </label>
            <input name="itemName" for="itemName" class="input-md textinput textInput form-control" name="catagory" placeholder="Name" style="margin-bottom: 10px" type="text" />
        </div>
        <div style="margin-bottom:20px;">

            <label name="itemDescription" for="itemDescription" class="control-label col-md-4  requiredField"> Item Description<span class="asteriskField">*</span> </label>
            <input name="itemDescription" for="itemDescription" class="input-md textinput textInput form-control" name="catagory" placeholder="Description" style="margin-bottom: 10px" type="text" />
        </div>
        <div style="margin-bottom:20px;">

            <label name="itemDeadline" for="itemDeadline" class="control-label col-md-4  requiredField"> Item Deadline<span class="asteriskField">*</span> </label>
            <input name="itemDeadline" for="itemDeadline" class="input-md textinput textInput form-control" placeholder="(YYYY-MM-DD)" style="margin-bottom: 10px" type="text" />
        </div>

        <div style="margin-bottom:20px;">
            <button type="submit" name="submitButton" class="btn btn-success">Save</button>

        </div>



    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

